body {margin: 0 0;
    width: 100%; 
    font-family: 'Roboto'; 
    color: #33393b:
    background-color: #f1f0e2;}

    /* Navigation stuff */
.topNav {width: 100%; 
    height: 68px; 
    background-color: #133955; 
    padding: 10px; 
    display: inline-flex;
    }
.topNav img {float: left; 
    margin: 0 40px;}
.topNav h2 {color: #f1f0e2;   
    font-family: 'Roboto Slab'; 
    font-weight: 300; 
    font-size: 32px;
    margin-right: 200px;}
.topNav ul {font-family: 'Roboto';
    margin: 44px;}
.topNav li {display: inline; 
    color: #f1f0e2; 
    margin-right: 80px;
    }

    /* Hero area stuff */
#heroImg {height: 560px; padding: 40px 25%; display: flex;}
.iAm img {padding-right: 30px;}
.iAm h1 {font-family: 'Roboto Slab'; color: #33393b; font-size: 48px; font-weight: 400; margin-bottom: -1%;} 
.iAm p {line-height: 1.5em;}
.iAm button {background-color: #133955; border: 1px none #133955; border-radius: 12px; padding: 6px; font-family: 'Roboto Slab'; color: #f1f0e2;}
footer {width: 100%; height: 48px; padding: 10px; display: inline-flex;background-color: #133955; color: #f1f0e2;}
footer li {color: #f1f0e2; display: inline;}